.bookContainer{

  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;

  &-id{
    font-weight: bold;
    padding: 10px;
  }

  &-bookName{
    padding: 10px;
    span{
      display: block;
    }

    &__utilites{
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4386bf;
      span{
        cursor: pointer;
        display: inline;
        padding: 5px 10px;
        border-right: 1px solid rgba(128, 128, 128, 0.295);
        &:last-child{
          border-right: none;
        }
        &:first-child{
          padding-left: 0;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &-title{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #121212;
  }

  &-category{
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
  }

  &-remove{
    position: absolute;
    right: 25px;
    width: 84px;
    height: 33px;
    border: 1px solid #0290ff;
    border-radius: 3px;
    background-color: #0290ff;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    margin-left: 100px;
  }
}